@import 'Couleurs';

.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    width: 1240px;
    position: relative;
    margin: auto;
    background-color: white;
    @media screen and (max-width: 600px) {
      width: 335px;
      margin-bottom: 20px;
    }
  }


.aboutelements {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1240px;

  &__aboutelement {
    display: flex;
    justify-content: space-between;
    width: 1000px;

    align-items: center;
    margin: 30px auto 0 auto;
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 5px;
    position: relative;
    z-index: 2;

    & p {
      margin: 0;
       padding: 0;
        font-size: 18px;
        list-style: none;
        text-align: left;
    }
    &--button {
      background-color: inherit;
      border: 0;
      transition: transform 1s ease;
      &:hover {
        cursor: pointer;
      }
    }
  }
  @media screen and (max-width: 600px) {
    max-width: 335px;
    font-size: 12px;
    margin: 20px 0;

    &__aboutelement {
      font-size: 13px;
      padding: 5px 5px;
      width: 325px;
      height: 30px;
      margin: 0 auto;
      &--button img {
        width: 15px;
      }
    }
  }
}
.activebutton {
  transform: rotate(-180deg);
}

//* Collapse

.foo {
  position: relative;
  max-height: 0px;
  background-color: #f6f6f6;
  width: 80%;
  padding: 0 20px;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  border-radius: 0 0 5px 5px;
}

.bar {
  position: relative;
  background-color: #f6f6f6;
  max-height: 300px;
  width: 80%;
  padding: 0 20px;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  border-radius: 0 0 5px 5px;
}
.aboutelement__text {
  color: $primary-color;
  position: relative;
  transform: translateY(-150px);
  transition: transform 0.5s ease-in-out;
}
.visible {
  transform: translateY(0);
}


