@import 'utils';


.banner {
    margin: auto;
    height: 223px;
    display: flex;
    align-items: center;
     background-image: url(../assets/BannerBg.png);
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
     
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: black;
      filter: brightness(0.75);
      height: 223px;
      border-radius: 25px;
    }
}